# Virtual env
/.venv/

# Python caches & bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Databases
*.db
*.sqlite3
/test.db

# Env files
/.env

# macOS
.DS_Store

# Packaging/build
*.egg-info/
build/
dist/
*.egg

# pytest
/.pytest_cache/

# Logs and outputs
/logs/
/*.log
test_output.txt

/secrets/
/*.json
